.post {
  width: 100%;
}
.post_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and(max-width: 800px) {
}
@media screen and(max-width: 450px) {
  .textarea {
    width: 98%;
  }
  .comment_form,
  .comment_form form {
    width: 100%;
    background-color: green;
  }
}
