.header {
  height: 8vh;
  max-width: 100vw;
  margin: 0;
  padding: 0 15vw 0 15vw;
  background-color: var(--deep-theme-color);
  color: white;
  display: flex;
  align-items: center;
}

.title {
  height: 100%;
  width: 20vw;
  margin: 0 5vw 0 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--light-theme-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar {
  height: 100%;
  width: 45vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0;
  transition: 1s;
  transition-timing-function: ease;
  text-align: right;
}
.dropdown {
  width: 10vw;
  margin: 0;
  text-align: right;
  color: white;
  display: inline-block;
  position: relative;
}
.ddcontent {
  display: none;
  position: absolute;
  left: 0px;
  text-align: left;
  background-color: var(--deep-theme-color);
  padding: 10px 0 0 0;
  width: 150px;
  z-index: 10;
}
.ddlink {
  padding: 10px 5px 10px 15px;
  display: block;
  margin: 0 0 0 0;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.ddlink:hover {
  background-color: var(--button-color);
}
.dropdown:hover .ddcontent {
  display: block;
}
.pros {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}

.logout_img {
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 10;
}

.logout_a {
  margin: 0;
  text-decoration: none;
}
/* ==================================================== */
@media screen and (max-width: 800px) {
  .header {
    padding: 0 10vw 0 10vw;
  }
  .navbar {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-flow: row-reverse;
    padding: 0 0 0 0;
  }
  .pros {
    display: none;
  }
  .dropdown {
    width: 80px;
    text-align: right;
    color: white;
    display: inline-block;
    position: relative;
  }
  .ddcontent {
    display: none;
    position: absolute;
    left: 0px;
    text-align: left;
    background-color: var(--deep-theme-color);
    padding: 10px 0 0 0;
    width: 150px;
    z-index: 10;
  }
  .ddlink {
    padding: 10px 5px 10px 15px;
    display: block;
    margin: 0 0 0 0;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    border-bottom: 1px solid white;
  }
  .dropdown:hover .ddcontent {
    display: block;
  }
}

/* ========================================================= */
@media screen and (max-width: 450px) {
  .header {
    padding: 0 10vw 0 10vw;
  }
  .title {
    height: 100%;
    width: 20vw;
    margin: 0 5vw 0 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
  }
  .dropdown {
    color: white;
    display: block;
    position: relative;
  }
  .dropdown:hover .ddcontent {
    display: block;
  }
}
