.header {
  height: 8vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--deep-theme-color);
  color: white;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0 5vw 5px 10vw;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--light-theme-color);
  text-decoration: none;
  font-weight: bold;
  width: 20vw;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 1s;
  transition-timing-function: ease;
}

.header a {
  color: var(--light-theme-color);
  font-style: normal;
}

.navbar {
  height: 100%;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw 0 0;
  transition: 1s;
  transition-timing-function: ease;
}
.userlinks {
  height: 100%;
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.dropdown {
  display: none;
}
.pros {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}

.logout_img {
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 10;
}

.logout_a {
  margin: 0;
  text-decoration: none;
}
/* ========================================================= */
@media screen and (max-width: 450px) {
  .pros {
    display: none;
  }
  .dropdown {
    color: white;
    display: block;
    position: relative;
  }
  .ddcontent {
    display: none;
  }
  .userlinks {
    display: none;
  }
}
/* ==================================================== */
@media screen and (max-width: 800px) {
  .navbar {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-flow: row-reverse;
    padding: 0 0 0 0;
  }
  .pros {
    display: none;
  }
  .dropdown {
    width: 80px;
    text-align: right;
    color: white;
    display: inline-block;
    position: relative;
    right: 10vw;
    transition: 1s;
    transition-timing-function: ease;
  }
  .ddcontent {
    display: none;
    position: absolute;
    left: 0px;
    text-align: left;
    background-color: var(--deep-theme-color);
    padding: 10px 0 0 0;
    width: 150px;
    z-index: 10;
  }
  .ddlink {
    padding: 10px 5px 10px 15px;
    display: block;
    margin: 0 0 0 0;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    border-bottom: 1px solid white;
  }
  .dropdown:hover .ddcontent {
    display: block;
  }
  .userlinks {
    display: none;
  }
}
