.header {
  height: 8%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--deep-theme-color);
  color: white;
  display: flex;
  align-items: center;
}

.title {
  margin: 0 0 0 100px;
  padding: 0 0 5px 0;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--light-theme-color);
  text-decoration: none;
  font-weight: bold;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;

}

.header a {
  color: var(--light-theme-color);
  font-style: normal;
}

.navbar {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0;
}

.pros {
  margin: 0 0 0 20px;
  text-decoration: none;
}

.logout {
  width: 80px;
  height: 100%;
  padding: 0;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout_img {
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 10;
}

.logout_a {
  margin: 0;
  text-decoration: none;
}