$color-pry: rgb(0, 10, 34);
$color-btn-pry: rgb(12, 2, 200);
$color-btn-danger: rgb(126, 15, 15);
$color-white: white;
$btn-text-color: white;
$info-text-color: grey;
$input-border-color: lightblue;
$input-border-focus-color: black;
$color-black: black;
$pry-text-color: black;
$color-white-shade: ghostwhite;
$color-success: green;
$color-alert: rgb(126, 15, 15);

// ====== Grid Variables =================
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 6rem;

$box-shadow-light: 1px 1px 3rem 0.4rem rgba(black, 0.2);
$box-shadow-grey: 2px 2px 10px 1px grey;

// ======= Font sizes ====================
$h1-font-size-desktop: 2.5rem;
$h1-font-size-tab: 2rem;
$h2-font-size-desktop: 2rem;
$h2-font-size-tab: 1.5rem;
$text-font-size-desktop: 1.6rem;
