$color-pry: rgb(0, 10, 34);
$color-btn-pry: rgb(12, 2, 200);
$color-btn-danger: rgb(126, 15, 15);
$color-white: white;
$btn-text-color: white;
$info-text-color: grey;
$input-border-color: lightblue;
$input-border-focus-color: black;
$color-heading-bg: silver;
$color-black: black;
$pry-text-color: black;
$sec-text-color: grey;
$color-white-shade: ghostwhite;
$color-success: green;
$color-alert: rgb(126, 15, 15);

// ====== Grid Variables =================
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 6rem;

$box-shadow-light: 1px 1px 3rem 0.4rem rgba(black, 0.2);
$box-shadow-grey: 2px 2px 10px 1px grey;

// ======= Font sizes ====================
$h1-font-size-desktop: 2.5rem;
$h1-font-size-tab: 2rem;
$h2-font-size-desktop: 2rem;
$h2-font-size-tab: 1.5rem;
$text-font-size-desktop: 1.6rem;

// 420px maximum width: cover all smartphones in portrait mode
// 421px to 767px width: most smartphones in landscape mode
// 768px to 1023px: most Android tablets and iPads in portrait mode
// 1024px to 1365px: most Android tablets and iPads in landscape mode, older desktop/laptop monitors
// 1366px and above: iPad PRO, HDready and FullHD desktop laptop monitors

$res-mobile: 26.25em;
$res-mobile-landscape: 50em;
$res-tab: 64em;
$res-tab-landscape: 85.625em;
