.main {
  margin: 0;
  padding: 0;
  min-height: 84vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wel {
  width: 40vw;
  margin: 25vh 0 25vh 0;
  color: var(--primary-text-color);
  border-radius: 5px;
  text-align: center;
  background-color: var(--div-color);
}

.title {
  font-size: 4vw;
  color: var(--deep-theme-color);
  text-transform: uppercase;
  margin: 20px 0 0 0;
  padding: 0;
  font-weight: bold;
  transition: 1s;
  transition-timing-function: ease;
  text-shadow: 2px 2px 5px grey;
}

.note {
  margin: 0;
  padding: 0 10px 0 10px;
  font-size: 1.5vw;
  transition: 1s;
  transition-timing-function: ease;
}

@media screen and (min-width: 801px) {
  .wel {
    border: 10px solid var(--deep-theme-color);
    box-shadow: 2px 2px 10px 1px grey;
  }
  .btn {
    margin: 10px auto 40px auto;
    transition: 1s;
    transition-timing-function: ease;
  }
}
@media screen and (max-width: 800px) and (min-width: 451px) {
  .wel {
    width: 45vw;
    margin: 0;
    color: var(--primary-text-color);
    border-radius: 5px;
    border: 10px solid var(--deep-theme-color);
    box-shadow: 2px 2px 10px 1px grey;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--div-color);
  }

  .title {
    display: block;
    height: 23.3%;
    font-size: 5vw;
    color: var(--deep-theme-color);
    text-transform: uppercase;
    margin: 10px auto 0px auto;
    padding: 0;
    font-weight: bold;
    transition: 1s;
    transition-timing-function: ease;
    text-shadow: 2px 2px 9px grey;
  }
  .note {
    margin: 0;
    font-size: 1.7vw;
  }

  .btn {
    margin: 10px auto 20px auto;
    width: 100px;
    transition: 1s;
    transition-timing-function: ease;
  }
}
@media screen and (max-width: 600px) {
  .wel {
    min-height: 20vh;
    width: 100vw;
    text-align: center;
    border: none;
    box-shadow: 0 0 0 0;
    margin: 28vh 0 28vh 0;
    background-color: white;
  }

  .title {
    font-size: 30px;
    color: var(--deep-theme-color);
    text-transform: uppercase;
    margin: 20px 0 0 0;
    padding: 0;
    font-weight: bold;
    transition: 1s;
    transition-timing-function: ease;
    text-shadow: 2px 2px 5px grey;
  }

  .note {
    display: none;
  }

  .btn {
    margin: 10px 5px 40px 5px;
    transition: 1s;
    transition-timing-function: ease;
  }
}
