.createProfile {
  width: 50%;
  margin: 20px auto 20px auto;
  padding: 0 5% 0 5%;
}

.createProfile_h1 {
  margin: 0;
  color: var(--deep-theme-color);
}

.head_para {
  text-align: center;
  margin: 0 0 20px 0;
}

.input {
  margin: 10px 0 5px 0;
  width: 90%;
  height: 30px;
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 2px;
  padding-left: 4px;
}

.input:focus {
  box-shadow: 2px 2px 10px 1px var(--info-text-color);
  border: 1px solid var(--light-theme-color);
}

.create-profile form p {
  color: var(--info-text-color);
  font-size: 9px;
  font-weight: lighter;
  padding-left: 10px;
}

.social-note {
  display: inline;
  font-size: 15px;
}

.textarea {
  margin: 10px 0 5px 0;
  width: 50%;
  height: 150px;
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 2px;
  padding-left: 4px;
}

.textarea:focus {
  box-shadow: 2px 2px 10px 1px var(--info-text-color);
  border: 1px solid var(--light-theme-color);
}

.social {
  margin: 0;
}

.submit_btn {
  margin: 10px 0 5px 0;
  width: 90%;
  height: 30px;
  display: block;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--button-color);
  text-transform: uppercase;
}

.submit_btn:hover {
  background-color: var(--deep-theme-color);
  transition: background-color 1s;
}

.submit_btn:not(:hover) {
  background-color: var(--button-color);
  transition: background-color 1s;
}
.head .btn {
  margin: 10px 0 10px 0px;
}
.btn {
  height: 40px;
  width: 150px;
  display: inline-block;
  margin: 10px 5px 10px 0;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--button-color);
  text-transform: uppercase;
}
