.main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main a {
  color: black;
}
.dashboard {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--pry-text-color);
}

.dashboard__title {
  color: var(--deep-theme-color);
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 800px) and (min-width: 451px) {
  .profileActions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--deep-theme-color);
    color: var(--pry-text-color);
  }
  .pa__btn {
    margin: 0 0 5px 0;
    font-size: medium;
    padding: 0;
    background: none;
    border: none;
    text-transform: uppercase;
    text-align: left;
    width: 25%;
    height: 24px;
    display: flex;
    align-items: baseline;
  }
  .pa__btn a {
    margin: 0 0 5px 0;
  }
  .pa__btn span {
    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0 5px 5px;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    height: 15px;
    width: 15px;
    color: white;
    background-color: var(--color-btn-pry);
    text-align: center;
  }
  .pa__btn a {
    margin: 5px 5px 0 5px;
  }
}
@media screen and (max-width: 450px) {
  .profileActions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--deep-theme-color);
    color: var(--pry-text-color);
  }
  .pa__btn {
    margin: 0 0 5px 0;
    font-size: xx-small;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
    width: 30%;
    background: none;
    border: none;
  }
  .pa__btn span {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    font-size: 10px;
    font-weight: bold;
    height: 10px;
    width: 10px;
    color: white;
    background-color: var(--color-btn-pry);
    text-align: center;
  }
  .pa__btn a {
    /* color: var(--pry-text-color); */
    color: var(--pry-text-color);
    margin-right: 5px;
  }
}
