*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include resolution(tab) {
    font-size: 50%;
  }
  @media screen and (max-width: $res-tab) {
    font-size: 50%;
  }
}
/* ------ Links -----------------------*/
.container {
  max-width: 114rem;
  margin: 0 auto;
}
