*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include resolution(tab) {
    font-size: 50%;
  }
  @include resolution(big-desktop) {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;
}
/* ------ Links -----------------------*/
.container {
  padding: 0 15vw;
  min-height: 84vh;
  @include resolution(tab) {
    padding: 3rem 10vw;
  }
  // @include resolution(phone) {
  //   padding: 0 8vw;
  // }
}
