.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.7rem 3rem;
    display: inline-block;
    transition: all 1s;
    position: relative;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    @include resolution(tab) {
      font-size: 1.2rem;
    }
  }
  &:hover {
    transform: scale(1.02);
    color: $color-white;
  }
  &:active,
  &:focus {
    transform: scale(1.02);
  }
  &--pry {
    background-color: $color-btn-pry;

    &:hover {
      background-color: $color-pry;
      transition: background-color 1s;
    }
    &:not(:hover) {
      background-color: $color-btn-pry;
      transition: background-color 1s;
      &:active,
      &:focus {
        transform: scale(1.02);
        background-color: $color-btn-pry;
      }
    }
  }
}
