.main {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main__title {
  padding: 0;
  text-transform: uppercase;
  margin: 30px 0 0 0;
  font-size: x-large;
  color: var(--deep-theme-color);
}

.social {
  width: 100%;
}
.input {
  width: 50%;
}
.textarea {
  width: 49%;
}
.btn {
  margin: 20px 0 0 0;
}
.add__social {
  margin: 20px 0 20px 0;
  font-size: small;
  border: none;
  background: none;
  width: 20%;
  text-transform: uppercase;
  text-align: left;
}
.add__social span {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  height: 15px;
  width: 15px;
  color: white;
  background-color: var(--button-color);
  text-align: center;
}

.info__social {
  display: inline;
  margin: 0 0 0 20px;
}
.btn_submit {
  width: 51%;
  font-size: medium;
  margin: 20px 0 30px 0;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;
    font-size: medium;
  }
  .main__title {
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-size: x-large;
  }
  .input {
    width: 100%;
  }
  .textarea {
    width: 98%;
  }
  .social {
    width: 100%;
  }
  .btn {
    margin: 10px 0 0 0;
  }
  .add__social {
    margin: 20px 0 20px 0;
    font-size: small;
    border: none;
    background: none;
    width: 50%;
    text-transform: uppercase;
    text-align: left;
  }
  .add__social span {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    height: 15px;
    width: 15px;
    color: white;
    background-color: var(--button-color);
    text-align: center;
  }

  .info__social {
    display: inline;
    margin: 0 0 0 20px;
  }
  .btn_submit {
    width: 100%;
    font-size: small;
    margin: 10px 0 30px 0;
  }
}
@media screen and (max-width: 450px) {
  .main {
    font-size: small;
  }
  .main__title {
    text-transform: uppercase;
    margin: 10px 0 0 0;
    font-size: large;
  }

  .social {
    width: 100%;
  }
  .btn {
    margin: 10px 0 0 0;
  }
  .add__social {
    margin: 20px 0 20px 0;
    font-size: small;
    border: none;
    background: none;
    width: 50%;
    text-transform: uppercase;
    text-align: left;
  }
  .add__social span {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    height: 15px;
    width: 15px;
    color: white;
    background-color: var(--button-color);
    text-align: center;
  }

  .info__social {
    display: inline;
    margin: 0 0 0 20px;
  }
  .btn_submit {
    width: 100%;
    font-size: small;
    margin: 10px 0 30px 0;
  }
}
