footer {
  height: 8vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: white;
  background-color: var(--deep-theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
@media screen and (max-width: 800px) {
  footer {
    font-size: 2vw;
  }
}
