// }

.dashboard {
  // Account with no profile
  .no-profile {
    color: $color-pry;
  }
  &__title {
    @include resolution(phone) {
      font-size: $h1-font-size-tab;
    }
  }
  // Account with profile
  &__cover {
    width: 100%;
    height: 20rem;
    margin-bottom: 3.5rem;
    position: relative;
    &--bg-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--bg-upload {
      width: max-content;
      position: absolute;
      right: 2rem;
      bottom: 0;
      div {
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: 1.6rem;
      }
      img,
      p {
        display: none;
      }
      button {
        opacity: 0.8;
      }
    }
    &--avatar {
      width: 12rem;
      height: 12rem;
      overflow: hidden;
      border-radius: 50%;
      position: absolute;
      bottom: -3.5rem;
      left: 2vw;
      box-shadow: 0 0 5px 1px rgba(black, 0.2);
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.01);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--upload {
      width: max-content;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      div {
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: 1.6rem;
      }
      img,
      p {
        display: none;
      }
      button {
        opacity: 0.8;
      }
    }
  }
  &__name {
    color: $color-pry;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__handle {
    &:link,
    &:visited {
      color: black;
    }
  }
  .actions {
    margin-top: 1rem;
    padding: 0;
    &__link {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
    &__btn {
      padding: 0.2rem 1rem;
      border-radius: 5px;
    }
    &__icon {
      margin-right: 0.3rem;
    }
  }
  @media screen and (max-width: $res-tab) and (min-width: $res-mobile-landscape) {
    .container {
      padding: 0;
    }
  }
  @media screen and (max-width: $res-mobile) {
    &__cover {
      &--avatar {
        left: 5vw;
      }
    }
  }
}
