.dashboard {
  .no-profile {
    color: $color-pry;
  }
  &__title {
    @include resolution(phone) {
      font-size: $h1-font-size-tab;
    }
  }

  &__name {
    color: $color-pry;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__handle {
    &:link,
    &:visited {
      color: black;
    }
  }
}
.actions {
  padding: 0;
  &__link {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &__btn {
    padding: 0.2rem 1rem;
    border-radius: 5px;
  }
  &__icon {
    margin-right: 0.3rem;
  }
}
