.feeds {
  &__form {
    width: 100%;
  }
  &__textarea {
    width: 60%;
  }
  &__head-2 {
    font-size: 3rem;
  }
  @media screen and (max-width: $res-tab) {
    width: 70%;
  }
  @media screen and (max-width: $res-mobile-landscape) {
    padding: 0 5vw;
    &__textarea {
      width: 100%;
    }
    &__head-2 {
      font-size: 2rem;
    }
  }
}
