.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s ease;
  &__main {
    padding: 1rem 4rem;
    color: $pry-text-color;
    border: 6px solid $color-pry;
    border-radius: 5px;
    text-align: center;
    background-color: $color-white-shade;
    animation: appear 0.5s ease-out 0.8;
  }
  &__title {
    font-size: 5rem;
    color: $color-pry;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 2px 5px grey;
    letter-spacing: 0.5rem;
  }

  &__note {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  // Media query for screen resolution tab
  @media screen and(max-width: $res-tab) {
    &__title {
      letter-spacing: 0.2rem;
    }
    &__note {
      letter-spacing: 0;
    }
  }
  // Media query for screen resolution mobile
  @media screen and(max-width: $res-mobile) {
    &__main {
      border: none;
      animation: appear 0.7s ease-out 0.8;
    }
    &__title {
      letter-spacing: 0.1rem;
      font-size: 4rem;
    }
    &__note {
      display: none;
    }
  }
}
