.login {
  height: 84vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__main {
    min-height: 10rem;
    padding: 3rem 3rem 3rem 3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-grey;
    background-color: $color-white-shade;
  }
  &__h2 {
    text-transform: uppercase;
    color: $color-pry;
    font-size: 3rem;
    margin: 0 0 1rem 0;
  }
  &__input {
    margin: 1rem 0 1rem 0;
    width: 50rem;
  }
  &__btn {
    margin: 1rem 2rem 0 0;
  }
  &__not-reg {
    &,
    &:link,
    &:visited {
      font-size: 1.3rem;
      font-weight: 400;
      font-style: italic;
      color: $info-text-color;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: rgba($color-black, 0.8);
      font-size: 1.4rem;
    }
  }
  @include resolution(tab) {
    &__main {
      min-height: 10rem;
      background-color: $color-white-shade;
    }
    &__input {
      margin: 1rem 0 1rem 0;
      width: 35rem;
    }
    &__btn {
      margin: 1rem 20px 0 0;
    }
  }
  @include resolution(phone) {
    height: 84vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__main {
      color: $pry-text-color;
      border-radius: 5px;
      border: none;
      background-color: white;
    }
    &__h2 {
      font-size: 2rem;
    }
    &__input {
      margin: 1rem 0 1rem 0;
      width: 28rem;
      font-size: 1.2rem;
      padding-left: 1rem;
    }
    &__btn {
      margin: 2rem 2rem 0 0;
    }
    &__link {
      font-size: 1.2rem;
    }
  }
}
