.profile-form {
  &__title {
    font-size: 3rem;
    margin: 2rem 0;
  }
  &__body {
    width: 50%;
    background-color: white;
  }
  &__input {
    width: 100%;
    margin: 1rem auto;
    @include resolution(phone) {
      width: 100%;
    }
  }
  &__textarea {
    width: 100%;
    margin: 1rem auto;
  }
  &__socials {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &--form {
      width: 100%;
    }
  }
  &--group {
    width: 100%;
    flex-grow: 1;
    background-color: rgb(236, 230, 230);
    border-radius: 5px;
    padding: 1px;
    margin: 1rem auto;
  }
  &--social-input {
    width: 100%;
    margin: 0;
    transform: translateY(-0.125rem);
  }
  &--icon {
    color: $color-pry;
    width: 3rem;
    text-align: center;
    margin: 0;
    font-weight: 500;
  }
  &--icon-name {
    display: none;
    color: black;
  }
  &--opt-btn {
    font-size: 1.6rem;
    width: max-content;
    border-radius: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
    span {
      display: block;
      margin-right: 0.5rem;
      color: $color-pry;
    }
  }
  &--opt {
    display: flex;
    margin-left: 3rem;
    font-size: 1.2rem;
    align-items: center;
  }
  &__submit {
    margin: 2rem 0 3rem 0;
    width: 100%;
  }
  @media screen and (max-width: $res-tab) {
    &__title {
      margin: 1rem 0;
    }
    &__body {
      width: 60%;
    }
  }
  @media screen and (max-width: $res-mobile-landscape) {
    &__title {
      text-align: center;
      margin: 1rem auto;
    }
    &__body {
      margin: 0 auto;
      width: 70vw;
      padding-bottom: 8rem;
    }
    &--icon-name {
      display: inline-block;
      width: 80%;
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width: $res-mobile) {
    &__title {
      font-size: 3rem;
      margin-top: 2rem;
    }
    &__body {
      width: 100%;
      margin: 0;
      padding: 1rem 5rem;
    }
  }
}
