.profile {
  padding-bottom: 2rem;
  &__header {
    background-color: $color-white-shade;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(grey, 0.3);
  }
  &__header-img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 1px 10px rgba(grey, 0.3);
  }
  &__header-avatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  &__header-info {
    &--name {
      color: $color-pry;
      text-transform: uppercase;
    }
    &--prof {
      color: $pry-text-color;
      text-transform: capitalize;
    }
    &--location {
      color: $pry-text-color;
    }
  }
  &__bio-head {
    color: $color-pry;
    text-transform: uppercase;
    background-color: $color-heading-bg;
    border-radius: 3px;
    padding-left: 1rem;
    @include resolution(tab) {
      font-size: $h2-font-size-tab;
    }
  }
  &__skills {
    width: 100%;
    @include resolution(tab) {
      display: none;
    }
  }
  &__skills-head {
    color: $color-pry;
    text-transform: uppercase;
    background-color: $color-heading-bg;
    border-radius: 3px;
    padding-left: 1rem;
    @include resolution(tab) {
      font-size: $h2-font-size-tab;
    }
  }
  &__skills-list {
    list-style: none;
  }
  &__skill-item {
    margin-left: 1rem;
  }
}
