.signup {
  height: 84vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pry-text-color);
}

.signup__main {
  height: 510px;
  width: 70%;
  margin: 0;
  padding: 0 30px 0 30px;
  box-shadow: $box-shadow-grey;
  color: var(--pry-text-color);
  border-radius: 5px;
  border: none;
  background-color: var(--color-white-shade);
}

.signup__h2 {
  text-transform: uppercase;
  color: var(--deep-theme-color);
}

.signup__btn {
  margin: 0 20px 0 0;
}

@media screen and (max-width: 800px) {
  .signup {
    display: flex;
    align-items: center;
  }
  .signup__main {
    height: 500px;
    width: 70%;
    border-radius: 5px;
    border: none;
  }
  .signup__btn {
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 450px) {
  .signup {
    display: block;
  }
  .signup__main {
    padding: 0;
    width: 100%;
    margin: 0;
    box-shadow: 0 0 0 0;
    background-color: white;
  }
  .btn {
    margin: 10px 20px 0 0;
  }
}
