.main {
  margin: 0;
  padding: 0;
  width: 100%;
}
.main__content {
  margin: 0;
  padding: 0;
}
.profile__header {
  margin: 0;
  padding: 0;
}
.header__img {
  margin: 0;
  padding: 0;
}
.header__avatar {
  margin: 0;
  padding: 0;
}
.header__basic {
  margin: 0;
  padding: 0;
}
.profile__about {
  margin: 0;
  padding: 0;
}
.about__bio {
  margin: 0;
  padding: 0;
}
.about__skills {
  margin: 0;
  padding: 0;
}
.profile__creds {
  margin: 0;
  padding: 0;
}
.creds__exp {
  margin: 0;
  padding: 0;
}
.creds__edu {
  margin: 0;
  padding: 0;
}
.btn {
  margin: 20px 0 0 0;
}
@media screen and (max-width: 800px) and (min-width: 451px) {
  .main__content {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
  }
  .profile__header {
    width: 100%;
    display: flex;
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
  }
  .header__img {
    margin: 0;
    padding: 0;
    height: 200px;
    width: 40%;
    background-color: var(--color-white-shade);
  }
  .header__avatar {
    margin: 0;
    padding: 0;
  }
  .header__basic {
    width: 60%;
    margin: 0;
    padding: 0;
    background-color: var(--color-white-shade);
  }
  .profile__about {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .about__bio {
    margin: 20px 0 0 0;
    padding: 10px 0 20px 0;
    width: 100%;
    background-color: var(--color-white-shade);
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
  }
  .about__bio h3,
  .about__bio h4,
  .about__skills h3,
  .creds__exp h3,
  .creds__edu h3,
  .creds__exp h4,
  .creds__edu h4 {
    margin: 10px 20px 0 20px;
  }
  .about__bio p,
  .creds__exp ul,
  .creds__edu ul {
    margin: 10px 0 0 20px;
  }

  .about__skills {
    margin: 20px 0 0 0;
    padding: 10px 0 20px 0;
    width: 100%;
    background-color: var(--color-white-shade);
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
  }
  .profile__creds {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .creds__exp {
    padding: 10px 0 20px 0;
    margin: 20px 0 0 0;
    background-color: var(--color-white-shade);
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
    width: 100%;
  }
  .creds__edu {
    padding: 10px 0 20px 0;
    margin: 20px 0 0 0;
    background-color: var(--color-white-shade);
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .main__content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .profile__header {
    margin: 0;
    padding: 0;
  }
  .header__img {
    margin: 20px 0 0 0;
    padding: 0;
    height: 250px;
    width: 100%;
    background-color: var(--color-white-shade);
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
  }
  .header__avatar {
    margin: 0;
    padding: 0;
  }
  .header__basic {
    margin: 10px 0 0 0;
    padding: 10px;
    text-align: center;
    background-color: var(--color-white-shade);
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
  }
  .header__basic p {
    font-size: 15px;
  }
  .profile__about {
    margin: 0;
    padding: 0;
  }
  .about__bio {
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: var(--color-white-shade);
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
  }
  .about__skills {
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: var(--color-white-shade);
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
  }
  .profile__creds {
    margin: 0 0 20px 0;
    padding: 0;
  }
  .creds__exp {
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: var(--color-white-shade);
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
  }
  .creds__edu {
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: var(--color-white-shade);
    box-shadow: 2px 2px 10px 1px var(--shadow-color);
  }
  .btn {
    margin: 10px 0 0 0;
  }
}
