.header {
  @include side-padding;
  height: 8vh;
  max-width: 100vw;
  margin: 0;
  background-color: $color-pry;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  @media screen and (max-height: 600px) {
    height: 6rem;
  }
  &__title {
    height: 100%;
    width: 20vw;
    margin: 0 5vw 0 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-white;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
      animation: popout 1.2s ease;
    }
    span {
      @include resolution(phone) {
        display: none;
      }
    }
  }
  &__logo {
    width: 5rem;
    height: 5rem;
  }
}
.nav {
  height: 100%;
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include resolution(laptops) {
    width: 20vw;
  }
  @include resolution(tab) {
    display: none;
  }
  &__item {
    display: block;
    max-width: 3rem;
    text-align: center;
    line-height: 1rem;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__icon {
    font-size: 2.5rem;
    color: $color-white;
  }
  &__text {
    font-size: 1rem;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 500;
  }
}
.dropdown {
  width: 25rem;
  background-color: $color-white-shade;
  color: $color-black;
  position: absolute;
  right: 0;
  top: 7vh;
  padding: 2rem 3rem;
  box-shadow: $box-shadow-light;
  border-radius: 10px;
  z-index: 1000;

  &__title-box {
    display: block;
    color: $color-pry;
    animation: appear 0.2s ease-in;
  }
  &__name {
    display: block;
    max-width: 15rem;
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  &__avatar {
    display: block;
    background-color: green;
    margin: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  &__close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__content {
    width: 100%;
    list-style: none;
    margin-top: 1rem;
  }
  &__item {
    padding: 10px 0;
    text-align: left;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-left: 1rem;
    font-weight: 500;
    color: $color-pry;
    transition: transform 0.3s;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(grey, 0.5);
    }
    &:hover {
      transform: translateX(5px) scale(1.02);
      cursor: pointer;
    }
    .nav__text {
      color: $color-pry;
    }
  }
  &__icon {
    display: inline;
  }
  .nav__icon {
    display: none;
  }
  .nav__text {
    color: $color-pry;
    font-size: 1.4rem;
    @include resolution(tab) {
      color: $color-white;
    }
  }
  &__signout {
    &:link,
    &:visited,
    &:active {
      color: $color-pry;
    }
    &:hover {
      transform: translateX(5px) scale(1.05);
      cursor: pointer;
    }
  }
}
.nav-mobile {
  display: none;
}
@include resolution(tab) {
  z-index: 100;
  .nav-mobile {
    display: block;
    position: relative;
    &__checkbox {
      display: none;
    }
    &__btn {
      background-color: $color-pry;
      height: 3rem;
      width: 3rem;
      position: absolute;
      top: -1vh;
      right: 0vw;
      z-index: 2000;
      text-align: center;
      box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    }
    &__menu {
      display: none;
      width: 0;
      position: absolute;
      top: 4rem;
      right: 0;
      background-color: $color-pry;
      border-radius: 10px;
      box-shadow: $box-shadow-light;
      z-index: 10000;
      @include resolution(phone) {
        top: 2rem;
      }
      @media screen and (max-height: 600px) {
        top: 2rem;
      }
    }

    &__list {
      list-style: none;
      width: 100%;
      color: black;
    }
    &__items {
      margin: 1rem;
    }
    &__link {
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:link,
      &:visited {
        width: 100%;
        font-family: inherit;
        font-size: 2rem;
        font-weight: 300;
        padding: 0.3rem 1.5rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
      }
      &:hover,
      &:active {
        color: $color-white-shade;
        transform: translateX(1rem) scale(1.3);
      }
      .nav__icon {
        display: inline;
        font-size: 2rem;
      }
      .nav__text {
        display: inline;
        font-size: 1.6rem;
        padding-left: 1rem;
      }
    }
    &__checkbox:checked ~ &__menu {
      display: block;
      width: 25rem;
    }
    &__icon {
      position: relative;
      top: 1vh;
      &,
      &::before,
      &::after {
        width: 100%;
        height: 2px;
        background-color: $color-white;
        display: inline-block;
        @include resolution(phone) {
          width: 2.5rem;
        }
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.5s;
      }
      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.9rem;
      }
    }
    &__checkbox:checked + &__btn &__icon {
      background-color: transparent;
    }
    &__checkbox:checked + &__btn &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }
    &__checkbox:checked + &__btn &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
