.side-nav {
  display: none;
  padding: 0 20px;
  font-size: 1.6rem;
  // position: sticky;
  // bottom: 0;
  // left: 0;
  h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  @include resolution(phone) {
    display: none;
  }
}
