@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@keyframes appear {
  0% {
    opacity: 0; }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes popout {
  0% {
    transform: scale(1.2); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media (min-width: 75.01em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

/* ------ Links -----------------------*/
.container {
  padding: 0 15vw;
  min-height: 84vh; }
  @media (max-width: 48em) {
    .container {
      padding: 0 10vw; } }
  @media (max-width: 30em) {
    .container {
      padding: 0 8vw; } }

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading--pry {
  display: block;
  font-size: 3rem;
  color: #000a22;
  text-transform: uppercase;
  font-weight: 700; }
  @media (max-width: 30em) {
    .heading--pry {
      font-size: 4rem; } }

.heading--sec {
  display: block;
  font-size: 2rem;
  color: #000a22;
  text-transform: uppercase;
  font-weight: 700; }

.heading--label {
  font-size: 1rem;
  color: #000a22;
  text-transform: uppercase;
  font-weight: 500; }

a {
  text-decoration: none; }

@media screen and (max-width: 800px) {
  .heading--pry {
    font-size: 2rem;
    color: #000a22; }
  .heading--sec {
    font-size: 1.5rem;
    color: #000a22; } }

@media screen and (max-width: 450px) {
  .heading--pry {
    font-size: 1.5rem;
    color: #000a22; }
  .heading--sec {
    font-size: 1rem;
    color: #000a22; } }

.u-center-text {
  text-align: center; }

.u-margin-top-large {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.header {
  padding: 0 15vw;
  height: 8vh;
  max-width: 100vw;
  margin: 0;
  background-color: #000a22;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 48em) {
    .header {
      padding: 0 10vw; } }
  @media (max-width: 30em) {
    .header {
      padding: 0 5vw; } }
  .header__title {
    height: 100%;
    width: 20vw;
    margin: 0 5vw 0 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center; }
    .header__title:hover {
      animation: popout 1.2s ease; }
    @media (max-width: 30em) {
      .header__title span {
        display: none; } }
  .header__logo {
    width: 5rem;
    height: 5rem; }

.nav {
  height: 100%;
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  @media (max-width: 64em) {
    .nav {
      width: 20vw; } }
  @media (max-width: 48em) {
    .nav {
      display: none; } }
  .nav__item {
    display: block;
    max-width: 3rem;
    text-align: center;
    line-height: 1rem;
    transition: transform 0.3s; }
    .nav__item:hover {
      transform: scale(1.2); }
  .nav__icon {
    font-size: 2.5rem;
    color: white; }
  .nav__text {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500; }

.dropdown {
  width: 25rem;
  background-color: ghostwhite;
  color: black;
  position: absolute;
  right: 0;
  top: 7vh;
  padding: 2rem 3rem;
  box-shadow: 1px 1px 3rem 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 10px; }
  .dropdown__title-box {
    display: block;
    color: #000a22;
    animation: appear 0.2s ease-in; }
  .dropdown__name {
    display: block;
    max-width: 15rem;
    font-size: 2.5rem;
    margin-top: 1rem; }
  .dropdown__avatar {
    display: block;
    background-color: green;
    margin: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }
  .dropdown__close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
    transition: transform 0.3s; }
    .dropdown__close:hover {
      transform: scale(1.05); }
  .dropdown__content {
    width: 100%;
    list-style: none;
    margin-top: 1rem; }
  .dropdown__item {
    padding: 10px 0;
    text-align: left;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-left: 1rem;
    font-weight: 500;
    color: #000a22;
    transition: transform 0.3s; }
    .dropdown__item:not(:last-child) {
      border-bottom: 1px solid rgba(128, 128, 128, 0.5); }
    .dropdown__item:hover {
      transform: translateX(5px) scale(1.02);
      cursor: pointer; }
    .dropdown__item .nav__text {
      color: #000a22; }
  .dropdown .nav__icon {
    display: none; }
  .dropdown .nav__text {
    color: #000a22;
    font-size: 1.4rem; }
    @media (max-width: 48em) {
      .dropdown .nav__text {
        color: white; } }
  .dropdown__signout:link, .dropdown__signout:visited, .dropdown__signout:active {
    color: #000a22; }
  .dropdown__signout:hover {
    transform: translateX(5px) scale(1.03);
    cursor: pointer; }

.nav-mobile {
  display: none; }

@media (max-width: 48em) {
  .nav-mobile {
    display: block;
    position: relative; }
    .nav-mobile__checkbox {
      display: none; }
    .nav-mobile__btn {
      background-color: #000a22;
      height: 3rem;
      width: 3rem;
      position: absolute;
      top: -1vh;
      right: 0vw;
      z-index: 2000;
      text-align: center;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
    .nav-mobile__menu {
      display: none;
      width: 0;
      position: absolute;
      top: 4rem;
      right: 0;
      background-color: #000a22;
      border-radius: 10px;
      box-shadow: 1px 1px 3rem 0.4rem rgba(0, 0, 0, 0.2);
      z-index: 10000; } }
    @media (max-width: 48em) and (max-width: 30em) {
      .nav-mobile__menu {
        top: 2rem; } }

@media (max-width: 48em) {
    .nav-mobile__list {
      list-style: none;
      width: 100%;
      color: black; }
    .nav-mobile__items {
      margin: 1rem; }
    .nav-mobile__link {
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .nav-mobile__link:link, .nav-mobile__link:visited {
        width: 100%;
        font-family: inherit;
        font-size: 2rem;
        font-weight: 300;
        padding: 0.3rem 1.5rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase; }
      .nav-mobile__link:hover, .nav-mobile__link:active {
        color: ghostwhite;
        transform: translateX(1rem) scale(1.3); }
      .nav-mobile__link .nav__icon {
        display: inline;
        font-size: 2rem; }
      .nav-mobile__link .nav__text {
        display: inline;
        font-size: 1.6rem;
        padding-left: 1rem; }
    .nav-mobile__checkbox:checked ~ .nav-mobile__menu {
      display: block;
      width: 25rem; }
    .nav-mobile__icon {
      position: relative;
      top: 1vh; }
      .nav-mobile__icon, .nav-mobile__icon::before, .nav-mobile__icon::after {
        width: 100%;
        height: 2px;
        background-color: white;
        display: inline-block; } }
      @media (max-width: 48em) and (max-width: 30em) {
        .nav-mobile__icon, .nav-mobile__icon::before, .nav-mobile__icon::after {
          width: 2.5rem; } }

@media (max-width: 48em) {
      .nav-mobile__icon::before, .nav-mobile__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.5s; }
      .nav-mobile__icon::before {
        top: -0.8rem; }
      .nav-mobile__icon::after {
        top: 0.9rem; }
    .nav-mobile__checkbox:checked + .nav-mobile__btn .nav-mobile__icon {
      background-color: transparent; }
    .nav-mobile__checkbox:checked + .nav-mobile__btn .nav-mobile__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .nav-mobile__checkbox:checked + .nav-mobile__btn .nav-mobile__icon::after {
      top: 0;
      transform: rotate(-135deg); } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 30em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 30em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  height: 8vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #000a22;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em; }

@media screen and (max-width: 800px) {
  .footer {
    font-size: 2vw; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.7rem 3rem;
  display: inline-block;
  transition: all 0.8s;
  position: relative;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 500;
  box-shadow: 0.5px 1px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer; }
  @media (max-width: 48em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.2rem; } }

.btn:hover {
  transform: scale(1.02);
  color: white; }

.btn:active, .btn:focus {
  transform: scale(1.02); }

.btn--pry {
  background-color: #0c02c8;
  color: white; }
  .btn--pry:hover {
    background-color: #000a22;
    transition: background-color 1s; }
  .btn--pry:not(:hover) {
    background-color: #0c02c8;
    transition: background-color 1s; }
    .btn--pry:not(:hover):active, .btn--pry:not(:hover):focus {
      transform: scale(1.02);
      background-color: #0c02c8; }

.input {
  max-width: 100%;
  height: 30px;
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 2px;
  padding-left: 4px; }
  .input:focus {
    box-shadow: 2px 2px 10px 1px grey;
    border: 1px solid green;
    outline: none; }
  .input:focus:invalid {
    border: 1px solid #7e0f0f; }
  .input:active {
    background: white; }
  .input__info {
    display: block;
    font-style: italic;
    color: grey;
    font-size: 10px; }

.textarea {
  max-width: 100%;
  height: 10rem;
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 10px; }
  .textarea:focus {
    box-shadow: 2px 2px 10px 1px grey;
    border: 1px solid green;
    outline: none; }
  .textarea:focus:invalid {
    border: 1px solid #7e0f0f; }
  .textarea:active {
    background: white; }

.landing {
  height: 84vh;
  position: relative;
  transition: all 1s ease; }
  .landing__main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 4rem;
    color: black;
    border: 6px solid #000a22;
    border-radius: 5px;
    text-align: center;
    background-color: ghostwhite;
    animation: appear 0.5s ease-out 0.8; }
    @media (max-width: 30em) {
      .landing__main {
        border: none;
        animation: appear 0.7s ease-out 0.8; } }
  .landing__title {
    font-size: 5rem;
    color: #000a22;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 2px 5px grey;
    letter-spacing: 0.5rem; }
    @media (max-width: 64em) {
      .landing__title {
        letter-spacing: 0.2rem; } }
    @media (max-width: 30em) {
      .landing__title {
        letter-spacing: 0.1rem;
        font-size: 4rem; } }
  .landing__note {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: -1rem;
    margin-bottom: 1rem; }
    @media (max-width: 64em) {
      .landing__note {
        letter-spacing: 0; } }
    @media (max-width: 30em) {
      .landing__note {
        display: none; } }

.login {
  height: 84vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .login__main {
    min-height: 10rem;
    padding: 2rem 2rem 3rem 3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px 1px grey;
    background-color: ghostwhite; }
  .login__h2 {
    text-transform: uppercase;
    color: #000a22;
    font-size: 3rem; }
  .login__input {
    margin: 1rem 0 0.5rem 0;
    width: 50rem; }
  .login__btn {
    margin: 1rem 2rem 0 0; }
  .login__not-reg, .login__not-reg:link, .login__not-reg:visited {
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
    color: grey;
    transition: all 0.3s; }
  .login__not-reg:hover, .login__not-reg:active {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4rem; }
  @media (max-width: 48em) {
    .login__main {
      min-height: 10rem;
      background-color: ghostwhite; }
    .login__input {
      margin: 1rem 0 1rem 0;
      width: 35rem; }
    .login__btn {
      margin: 1rem 20px 0 0; } }
  @media (max-width: 30em) {
    .login {
      height: 84vh;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .login__main {
        color: black;
        border-radius: 5px;
        border: none;
        background-color: white; }
      .login__h2 {
        font-size: 2rem; }
      .login__input {
        margin: 1rem 0 1rem 0;
        width: 28rem;
        font-size: 1.2rem;
        padding-left: 1rem; }
      .login__btn {
        margin: 2rem 2rem 0 0; }
      .login__not-reg {
        font-size: 1.2rem; } }

.signup {
  height: 84vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .signup__main {
    min-height: 10rem;
    padding: 2rem 2rem 3rem 3rem;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px 1px grey;
    background-color: ghostwhite; }
  .signup__h2 {
    text-transform: uppercase;
    color: #000a22;
    font-size: 3rem; }
  .signup__input {
    margin: 1rem 0 0.3rem 0;
    width: 50rem; }
  .signup__btn {
    margin: 0rem 2rem 0 0; }
  .signup__reg, .signup__reg:link, .signup__reg:visited {
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
    color: grey;
    transition: all 0.3s; }
  .signup__reg:hover, .signup__reg:active {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4rem; }
  @media (max-width: 48em) {
    .signup__main {
      min-height: 10rem;
      background-color: ghostwhite; }
    .signup__input {
      margin: 1rem 0 0 0;
      width: 35rem; }
    .signup__btn {
      margin: 0.1rem 2rem 0 0; } }
  @media (max-width: 30em) {
    .signup {
      height: 84vh;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .signup__main {
        color: black;
        border-radius: 5px;
        border: none;
        background-color: white; }
      .signup__h2 {
        font-size: 2rem; }
      .signup__input {
        margin: 1rem 0 1rem 0;
        width: 28rem;
        font-size: 1.2rem;
        padding-left: 1rem; }
      .signup__btn {
        margin: 0.5rem 2rem 0 0; }
      .signup__reg {
        font-size: 1.2rem; } }

@media (max-width: 48em) {
  .add-edu__h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; } }

@media (max-width: 30em) {
  .add-edu__h1 {
    margin-top: 1rem;
    margin-bottom: 1rem; } }

.add-edu__input {
  width: 30rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem; }
  @media (max-width: 30em) {
    .add-edu__input {
      width: 100%;
      margin-bottom: 1rem; } }

.add-edu__date {
  display: inline-block;
  width: 23rem; }

.add-edu__check-div {
  margin-top: -0.5rem; }
  @media (max-width: 30em) {
    .add-edu__check-div {
      width: 100%;
      margin-top: -1rem; } }

.add-edu__checkbox-btn {
  display: none; }

.add-edu__checkbox-label {
  font-size: 1rem;
  cursor: pointer;
  position: relative; }

.add-edu__checkbox-span {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #000a22;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -4rem;
  top: 0px; }
  .add-edu__checkbox-span::after {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000a22;
    opacity: 0;
    transition: opacity 0.3s; }

.add-edu__checkbox-btn:checked ~ .add-edu__checkbox-label .add-edu__checkbox-span::after {
  opacity: 1; }

.add-edu__textarea {
  width: 30rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem; }
  @media (max-width: 30em) {
    .add-edu__textarea {
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 2rem; } }

.add-edu__date-header {
  display: inline-block;
  width: 7rem;
  margin-bottom: 0.1rem; }

@media (max-width: 48em) {
  .add-exp__h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; } }

@media (max-width: 30em) {
  .add-exp__h1 {
    margin-top: 1rem;
    margin-bottom: 1rem; } }

.add-exp__input {
  width: 30rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem; }
  @media (max-width: 30em) {
    .add-exp__input {
      width: 100%;
      margin-bottom: 1rem; } }

.add-exp__date {
  display: inline-block;
  width: 23rem; }

.add-exp__check-div {
  margin-top: -0.5rem; }
  @media (max-width: 30em) {
    .add-exp__check-div {
      width: 100%;
      margin-top: -1rem; } }

.add-exp__checkbox-btn {
  display: none; }

.add-exp__checkbox-label {
  font-size: 1rem;
  cursor: pointer;
  position: relative; }

.add-exp__checkbox-span {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #000a22;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -4rem;
  top: 0px; }
  .add-exp__checkbox-span::after {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000a22;
    opacity: 0;
    transition: opacity 0.3s; }

.add-exp__checkbox-btn:checked ~ .add-exp__checkbox-label .add-exp__checkbox-span::after {
  opacity: 1; }

.add-exp__textarea {
  width: 30rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem; }
  @media (max-width: 30em) {
    .add-exp__textarea {
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 2rem; } }

.add-exp__date-header {
  display: inline-block;
  width: 7rem;
  margin-bottom: 0.1rem; }
