@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@keyframes appear {
  0% {
    opacity: 0; }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes popout {
  0% {
    transform: scale(1.2); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  max-width: 100vw;
  font-size: 62.5%;
  overflow-x: hidden; }
  @media screen and (max-width: 64em) {
    html {
      font-size: 50%; } }

.container {
  max-width: 114rem;
  margin: 0 auto; }
  @media screen and (max-width: 64em) {
    .container {
      padding: 0 5vw; } }

.page-body {
  display: flex;
  max-width: 114rem;
  margin: 0 auto; }
  @media screen and (max-width: 64em) {
    .page-body {
      padding: 0 5vw; } }
  @media screen and (max-width: 47.9375em) {
    .page-body {
      padding: 0; } }

.page-main {
  flex: 1; }

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading--pry {
  display: block;
  font-size: 2.5rem;
  color: #000a22;
  text-transform: uppercase;
  font-weight: 700; }
  @media (max-width: 30em) {
    .heading--pry {
      font-size: 2.5rem; } }

.heading--sec {
  display: block;
  font-size: 2rem;
  color: #000a22;
  text-transform: uppercase;
  font-weight: 700; }

.heading--label {
  font-size: 1rem;
  color: #000a22;
  text-transform: uppercase;
  font-weight: 500; }

a {
  text-decoration: none; }

@media screen and (max-width: 800px) {
  .heading--pry {
    font-size: 2rem;
    color: #000a22; }
  .heading--sec {
    font-size: 1.5rem;
    color: #000a22; } }

@media screen and (max-width: 450px) {
  .heading--pry {
    font-size: 1.5rem;
    color: #000a22; }
  .heading--sec {
    font-size: 1rem;
    color: #000a22; } }

.header {
  height: 60px;
  max-width: 100%;
  margin: 0;
  background-color: #000a22;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000; }
  .header .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__title {
    height: 100%;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center; }
    .header__title:hover {
      animation: popout 1.2s ease; }
    @media (max-width: 30em) {
      .header__title span {
        display: none; } }
  .header__logo {
    width: 4rem;
    height: 4rem; }

.nav {
  height: 100%;
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .nav__item {
    display: block;
    max-width: 3rem;
    text-align: center;
    line-height: 1rem;
    transition: transform 0.3s; }
    .nav__item:hover {
      transform: scale(1.2); }
  .nav__icon {
    font-size: 2.5rem;
    color: white; }
  .nav__text {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500; }
  @media screen and (max-width: 64em) {
    .nav {
      width: 20vw; } }
  @media screen and (max-width: 47.9375em) {
    .nav {
      width: 25vw; } }
  @media screen and (max-width: 26.25em) {
    .nav {
      display: none; } }

.dropdown {
  width: 25rem;
  background-color: ghostwhite;
  color: black;
  position: absolute;
  right: 0;
  top: 5rem;
  padding: 2rem;
  box-shadow: 1px 1px 3rem 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: inherit; }
  .dropdown__title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000a22;
    animation: appear 0.2s ease-in; }
  .dropdown__avatar {
    display: block;
    background-color: green;
    margin: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }
  .dropdown__name {
    width: max-content;
    display: block;
    font-size: 2rem;
    line-height: 2rem;
    padding-left: 1rem; }
  .dropdown__content {
    width: 100%;
    list-style: none;
    margin-top: 1.5rem; }
  .dropdown__item:last-child {
    border-top: 1px solid rgba(128, 128, 128, 0.5); }
  .dropdown .nav__item {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.5rem 0 0.5rem 1rem;
    font-weight: 500;
    color: #000a22;
    transition: transform 0.3s; }
    .dropdown .nav__item:hover {
      transform: translateX(5px) scale(1.02);
      cursor: pointer; }
  .dropdown .nav__icon {
    display: block;
    color: #000a22;
    width: 3rem; }
  .dropdown .nav__text {
    color: #000a22;
    margin-left: 1rem; }
  .dropdown .nav__signout:link, .dropdown .nav__signout:visited, .dropdown .nav__signout:active {
    color: #000a22; }
  .dropdown .nav__signout:hover {
    transform: translateX(5px) scale(1.05);
    cursor: pointer; }

.nav-mobile {
  display: none; }
  @media screen and (max-width: 26.25em) {
    .nav-mobile {
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 1000;
      position: relative; }
      .nav-mobile__checkbox {
        display: none; }
      .nav-mobile__btn {
        background-color: #000a22;
        height: 3rem;
        width: 3rem;
        z-index: 2000;
        text-align: center;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
      .nav-mobile__menu {
        display: none;
        width: 0;
        position: absolute;
        top: 5rem;
        right: 0;
        background-color: #000a22;
        border-radius: 10px;
        box-shadow: 1px 1px 3rem 0.4rem rgba(0, 0, 0, 0.2);
        z-index: 10000; }
      .nav-mobile__list {
        list-style: none;
        width: 100%;
        color: black;
        padding: 2rem 0; }
      .nav-mobile__item {
        display: flex;
        align-items: center;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        .nav-mobile__item .nav__icon {
          display: block;
          font-size: 2rem;
          padding: 0.3rem;
          display: flex;
          justify-content: center;
          align-items: center; }
          .nav-mobile__item .nav__icon svg {
            height: 2rem;
            width: 2rem; }
        .nav-mobile__item .nav__text {
          margin-left: 1.5rem; }
        .nav-mobile__item:link, .nav-mobile__item:visited {
          width: 100%;
          font-family: inherit;
          font-size: 2rem;
          font-weight: 300;
          padding: 0.3rem 1.5rem;
          color: white;
          text-decoration: none;
          text-transform: uppercase; }
        .nav-mobile__item:hover, .nav-mobile__item:active {
          color: ghostwhite;
          transform: translateX(1rem) scale(1.3); }
      .nav-mobile__checkbox:checked ~ .nav-mobile__menu {
        display: block;
        width: 20rem; }
      .nav-mobile__icon {
        position: relative;
        top: 1vh;
        background-color: white; }
        .nav-mobile__icon, .nav-mobile__icon::before, .nav-mobile__icon::after {
          width: 100%;
          height: 2px;
          background-color: white;
          display: inline-block; }
        .nav-mobile__icon::before, .nav-mobile__icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all 0.5s; }
        .nav-mobile__icon {
          top: 50%;
          transform: translateY(-50%); }
        .nav-mobile__icon::before {
          top: -0.8rem; }
        .nav-mobile__icon::after {
          top: 0.8rem; }
      .nav-mobile__checkbox:checked + .nav-mobile__btn .nav-mobile__icon {
        background-color: transparent; }
      .nav-mobile__checkbox:checked + .nav-mobile__btn .nav-mobile__icon::before {
        top: 0;
        transform: rotate(135deg); }
      .nav-mobile__checkbox:checked + .nav-mobile__btn .nav-mobile__icon::after {
        top: 0;
        transform: rotate(-135deg); } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    margin-left: 0; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 30em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1rem; } }
    @media (max-width: 30em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  height: 60px;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #000a22;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em; }
  @media screen and (max-width: 800px) {
    .footer {
      font-size: 2vw; } }
  @media screen and (max-height: 600px) {
    .footer {
      height: 6rem; } }

.side-nav {
  flex-shrink: 0;
  width: 30rem;
  padding: 0 20px;
  font-size: 1.6rem; }
  .side-nav h1 {
    text-transform: uppercase;
    font-size: 2.5rem; }
  @media screen and (max-width: 47.9375em) {
    .side-nav {
      display: none; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.7rem 3rem;
  display: inline-block;
  transition: all 0.8s;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 700;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  @media (max-width: 48em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.2rem; } }

.btn:hover {
  transform: scale(1.02);
  color: white; }

.btn:active, .btn:focus {
  transform: scale(1.02); }

.btn--pry {
  background-color: #0c02c8;
  color: white; }
  .btn--pry:hover {
    background-color: #000a22;
    transition: background-color 1s; }
  .btn--pry:not(:hover) {
    background-color: #0c02c8;
    transition: background-color 1s; }
    .btn--pry:not(:hover):active, .btn--pry:not(:hover):focus {
      transform: scale(1.02);
      background-color: #0c02c8; }

.btn--sec {
  padding: 0;
  box-shadow: 0 0 0 0;
  padding: 0.3rem;
  border-radius: 1px;
  color: #000a22; }

.btn--danger {
  background-color: #7e0f0f;
  color: white; }

.input {
  max-width: 100%;
  height: 30px;
  border: 1px solid lightblue;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem; }
  .input:focus {
    box-shadow: 1px 0 10px 1px rgba(128, 128, 128, 0.2);
    outline: none; }
  .input:focus:valid {
    border-bottom: 2px solid green; }
  .input:focus:invalid {
    border-bottom: 2px solid #7e0f0f; }
  .input:active {
    background: white; }
  .input__info {
    display: block;
    font-style: italic;
    color: grey;
    font-size: 10px;
    margin-left: 5px; }
  .input__error {
    border-bottom: 2px solid #7e0f0f; }

.textarea {
  max-width: 100%;
  height: 10rem;
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 1rem; }
  .textarea:focus {
    box-shadow: 0px 0px 5px 1px rgba(0, 10, 34, 0.2);
    border: 1px solid green;
    outline: none; }
  .textarea:focus:invalid {
    border: 1px solid #7e0f0f; }
  .textarea:active {
    background: white; }

.cred {
  margin-top: 1rem; }
  .cred:last-child {
    border-bottom: 1px solid silver; }
  .cred__head {
    background-color: silver;
    border-radius: 3px;
    padding-left: 1rem; }
    @media (max-width: 48em) {
      .cred__head {
        font-size: 1.5rem; } }
  .cred__card {
    background-color: ghostwhite;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.3);
    position: relative; }
    .cred__card p {
      display: flex;
      justify-content: baseline;
      align-items: center; }
  .cred__label {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    width: 7rem;
    text-transform: uppercase;
    color: #000a22; }
  .cred__value {
    margin-left: 1rem; }
  .cred__del-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    box-shadow: 0 0 0 0;
    padding: 0.3rem 0.5rem;
    font-size: 1.5rem; }

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s ease; }
  .landing__main {
    padding: 1rem 4rem;
    color: black;
    border: 6px solid #000a22;
    border-radius: 5px;
    text-align: center;
    background-color: ghostwhite;
    animation: appear 0.5s ease-out 0.8; }
  .landing__title {
    font-size: 5rem;
    color: #000a22;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 2px 5px grey;
    letter-spacing: 0.5rem; }
  .landing__note {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: -1rem;
    margin-bottom: 1rem; }
  @media screen and (max-width: 64em) {
    .landing__title {
      letter-spacing: 0.2rem; }
    .landing__note {
      letter-spacing: 0; } }
  @media screen and (max-width: 26.25em) {
    .landing__main {
      border: none;
      animation: appear 0.7s ease-out 0.8; }
    .landing__title {
      letter-spacing: 0.1rem;
      font-size: 4rem; }
    .landing__note {
      display: none; } }

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .login .icon {
    color: #000a22;
    position: absolute;
    top: 2rem;
    left: 5rem;
    padding: 0 1.5rem;
    font-size: 3rem;
    border: 1px solid #000a22;
    border-radius: 1rem;
    transition: opacity 0.5s; }
    .login .icon:hover {
      opacity: 0.5; }
  .login__main {
    padding: 2rem 3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 1px rgba(0, 10, 34, 0.3);
    background-color: ghostwhite; }
  .login__h2 {
    text-transform: uppercase;
    color: #000a22;
    font-size: 3rem; }
  .login__input {
    margin: 1rem 0;
    width: 40rem; }
  .login__btn {
    margin: 1rem 2rem 0 0; }
  .login__not-reg, .login__not-reg:link, .login__not-reg:visited {
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
    color: grey;
    transition: all 0.3s; }
  .login__not-reg:hover, .login__not-reg:active {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4rem; }
  @media screen and (max-width: 64em) {
    .login .icon {
      top: 3rem; }
    .login__input {
      margin: 1rem 0; }
    .login__btn {
      margin: 1rem 20px 0 0; } }
  @media screen and (max-width: 47.9375em) {
    .login .icon {
      top: 2rem;
      left: 3rem;
      padding: 0 1rem;
      font-size: 2rem; }
    .login__main {
      color: black;
      border-radius: 5px;
      border: none; }
    .login__h2 {
      font-size: 2rem; }
    .login__input {
      margin: 1rem 0;
      width: 55vw;
      font-size: 1.2rem;
      padding-left: 1rem; }
    .login__btn {
      margin: 1rem 2rem 0 0; }
    .login__not-reg {
      font-size: 1.2rem; } }

.signup {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .signup .icon {
    color: #000a22;
    position: absolute;
    top: 2rem;
    left: 5rem;
    padding: 0 1.5rem;
    font-size: 3rem;
    border: 1px solid #000a22;
    border-radius: 1rem;
    transition: opacity 0.5s; }
    .signup .icon:hover {
      opacity: 0.5; }
  .signup__main {
    padding: 2rem 3rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(0, 10, 34, 0.2);
    background-color: ghostwhite; }
  .signup__h2 {
    text-transform: uppercase;
    color: #000a22;
    font-size: 3rem; }
  .signup__input {
    margin: 1rem 0;
    width: 40rem; }
  .signup__btn {
    margin: 1rem 2rem 0 0; }
  .signup__reg, .signup__reg:link, .signup__reg:visited {
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
    color: grey;
    transition: all 0.3s; }
  .signup__reg:hover, .signup__reg:active {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4rem; }
  @media screen and (max-width: 64em) {
    .signup .icon {
      top: 3rem; }
    .signup__input {
      margin: 1rem 0; }
    .signup__btn {
      margin: 1rem 20px 0 0; } }
  @media screen and (max-width: 47.9375em) {
    .signup .icon {
      top: 2rem;
      left: 3rem;
      padding: 0 1rem;
      font-size: 2rem; }
    .signup__main {
      color: black;
      border-radius: 5px;
      border: none; }
    .signup__h2 {
      font-size: 2rem; }
    .signup__input {
      margin: 1rem 0;
      width: 55vw;
      font-size: 1.2rem;
      padding-left: 1rem; }
    .signup__btn {
      margin: 1rem 2rem 0 0; }
    .signup__reg {
      font-size: 1.2rem; } }
  @media screen and (max-width: 47.9375em) and (min-width: 26.25em) {
    .signup {
      padding: 10rem 0; } }

.dashboard .no-profile {
  color: #000a22; }

@media (max-width: 30em) {
  .dashboard__title {
    font-size: 2rem; } }

.dashboard__cover {
  width: 100%;
  height: 20rem;
  margin-bottom: 3.5rem;
  position: relative; }
  .dashboard__cover--bg-img {
    width: 100%;
    height: 100%; }
  .dashboard__cover--avatar {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3.5rem;
    left: 2vw;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s; }
    .dashboard__cover--avatar:hover {
      transform: scale(1.01); }

.dashboard__name {
  color: #000a22;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize; }

.dashboard__handle:link, .dashboard__handle:visited {
  color: black; }

.dashboard .actions {
  margin-top: 1rem;
  padding: 0; }
  .dashboard .actions__link:not(:last-child) {
    margin-right: 1rem; }
  .dashboard .actions__btn {
    padding: 0.2rem 1rem;
    border-radius: 5px; }
  .dashboard .actions__icon {
    margin-right: 0.3rem; }

@media screen and (max-width: 64em) and (min-width: 47.9375em) {
  .dashboard .container {
    padding: 0; } }

@media screen and (max-width: 26.25em) {
  .dashboard__cover--avatar {
    left: 5vw; } }

@media (max-width: 48em) {
  .add-cred__h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; } }

@media (max-width: 30em) {
  .add-cred__h1 {
    margin-top: 1rem;
    margin-bottom: 1rem; } }

.add-cred__input {
  width: 30rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem; }
  @media (max-width: 30em) {
    .add-cred__input {
      width: 100%;
      margin-bottom: 1rem; } }

.add-cred__date {
  display: inline-block;
  width: 23rem; }

.add-cred__check-div {
  margin-top: -0.5rem; }
  @media (max-width: 30em) {
    .add-cred__check-div {
      width: 100%;
      margin-top: -1rem; } }

.add-cred__checkbox-btn {
  display: none; }

.add-cred__checkbox-label {
  font-size: 1rem;
  cursor: pointer;
  position: relative; }

.add-cred__checkbox-span {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #000a22;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: -4rem;
  top: 0px; }
  .add-cred__checkbox-span::after {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000a22;
    opacity: 0;
    transition: opacity 0.3s; }

.add-cred__checkbox-btn:checked ~ .add-cred__checkbox-label .add-cred__checkbox-span::after {
  opacity: 1; }

.add-cred__textarea {
  width: 30rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem; }
  @media (max-width: 30em) {
    .add-cred__textarea {
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 2rem; } }

.add-cred__date-header {
  display: inline-block;
  width: 7rem;
  margin-bottom: 0.1rem; }

@media (max-width: 48em) {
  .profile-form__title {
    margin-top: 2rem; } }

.profile-form__input {
  width: 30rem;
  margin-top: 1rem; }
  @media (max-width: 30em) {
    .profile-form__input {
      width: 100%; } }

.profile-form__textarea {
  width: 30rem;
  margin-top: 1rem; }
  @media (max-width: 30em) {
    .profile-form__textarea {
      width: 100%; } }

.profile-form__socials {
  margin-top: 1rem; }

.profile-form--group {
  background-color: #ece6e6;
  width: 30rem;
  border-radius: 5px;
  padding: 1px;
  margin-top: 1rem; }
  @media (max-width: 30em) {
    .profile-form--group {
      width: 100%; } }

.profile-form--social-input {
  width: 26.5rem;
  margin: 0;
  transform: translateY(-0.125rem); }
  @media (max-width: 30em) {
    .profile-form--social-input {
      width: 100%; } }

.profile-form--icon {
  color: #000a22;
  width: 3rem;
  text-align: center;
  margin: 0;
  font-weight: 500; }

.profile-form--icon-name {
  display: none;
  color: black; }
  @media (max-width: 30em) {
    .profile-form--icon-name {
      display: inline-block;
      width: 80%;
      font-size: 1.2rem; } }

.profile-form--opt {
  margin-left: 3rem;
  font-size: 1.2rem; }

.profile-form__submit {
  margin: 2rem 0 3rem 0; }

.pros__search {
  background-color: silver;
  padding-left: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 5px; }
  .pros__search--input {
    width: 93%; }
    @media (max-width: 48em) {
      .pros__search--input {
        width: 90%; } }
  .pros__search--icon {
    width: 7%;
    text-align: center;
    font-weight: 600; }
    @media (max-width: 48em) {
      .pros__search--icon {
        width: 10%; } }
    @media (max-width: 48em) {
      .pros__search--icon {
        font-size: 2rem; } }

.pros-card {
  background-color: ghostwhite;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  animation: appear 0.5s; }
  .pros-card__img {
    width: 17rem;
    height: 17rem;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.3); }
    @media (max-width: 64em) {
      .pros-card__img {
        width: 15rem;
        height: 15rem; } }
    @media (max-width: 48em) {
      .pros-card__img {
        margin: 0 auto; } }
  .pros-card__avatar {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 50%; }
  .pros-card__details {
    height: 16rem;
    width: 35rem;
    position: relative; }
    @media (max-width: 64em) {
      .pros-card__details {
        height: 15rem;
        width: 25rem; } }
    @media (max-width: 48em) {
      .pros-card__details {
        width: 100%;
        text-align: center;
        margin-top: 1.5rem; } }
  .pros-card__name {
    color: #000a22; }
  .pros-card__position {
    text-transform: capitalize; }
  .pros-card__location {
    text-transform: capitalize; }
  .pros-card__btn {
    position: absolute;
    bottom: 0;
    left: 0; }
    @media (max-width: 48em) {
      .pros-card__btn {
        left: 50%;
        transform: translateX(-50%); } }
  .pros-card__skills {
    width: 100%; }
    @media (max-width: 48em) {
      .pros-card__skills {
        display: none; } }
  .pros-card__skills-head {
    background-color: silver;
    border-radius: 3px;
    padding-left: 1rem; }
    @media (max-width: 48em) {
      .pros-card__skills-head {
        font-size: 1.5rem; } }
  .pros-card__skills-list {
    list-style: none; }
  .pros-card__skill-item {
    margin-left: 1rem; }

.profile {
  padding-bottom: 2rem; }
  .profile__header {
    background-color: ghostwhite;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.3); }
  .profile__header-img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.3); }
  .profile__header-avatar {
    height: 100%;
    width: 100%;
    border-radius: 50%; }
  .profile__header-info--name {
    color: #000a22;
    text-transform: uppercase; }
  .profile__header-info--prof {
    color: black;
    text-transform: capitalize; }
  .profile__header-info--location {
    color: black; }
  .profile__bio-head {
    color: #000a22;
    text-transform: uppercase;
    background-color: silver;
    border-radius: 3px;
    padding-left: 1rem; }
    @media (max-width: 48em) {
      .profile__bio-head {
        font-size: 1.5rem; } }
  .profile__skills {
    width: 100%; }
    @media (max-width: 48em) {
      .profile__skills {
        display: none; } }
  .profile__skills-head {
    color: #000a22;
    text-transform: uppercase;
    background-color: silver;
    border-radius: 3px;
    padding-left: 1rem; }
    @media (max-width: 48em) {
      .profile__skills-head {
        font-size: 1.5rem; } }
  .profile__skills-list {
    list-style: none; }
  .profile__skill-item {
    margin-left: 1rem; }

.err-page {
  text-align: center; }

.feeds__form {
  width: 100%; }

.feeds__textarea {
  width: 100%; }

@media (max-width: 48em) {
  .feeds__head-2 {
    font-size: 2rem; } }

.post-card {
  width: 100%;
  background-color: ghostwhite;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.3);
  animation: appear 0.5s;
  position: relative; }
  .post-card__head {
    height: 5rem;
    display: flex;
    align-items: center; }
  .post-card__img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: none; }
  .post-card__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .post-card__info {
    padding-left: 1rem;
    display: flex;
    flex-direction: column; }
  .post-card__name {
    color: #000a22; }
  .post-card__handle {
    color: grey;
    font-size: 1.2rem; }
  .post-card__content {
    text-align: justify;
    padding: 1rem 6rem; }
  .post-card__like-no {
    padding: 0 1rem;
    color: grey;
    font-size: 1.3rem; }
  .post-card__actions {
    display: flex;
    align-items: center; }
  .post-card__reaction {
    display: inline-block;
    width: 4rem;
    text-align: center;
    color: black;
    font-size: 2rem;
    transition: transform 0.5s; }
  .post-card__reaction:hover {
    transform: scale(1.03); }
  .post-card__like {
    width: 5rem; }
  .post-card__dislike {
    width: 5rem; }
  .post-card__comment {
    width: 5rem; }
    .post-card__comment:link, .post-card__comment:visited {
      color: black; }
  .post-card__del {
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: transform 0.5s; }
    .post-card__del:hover {
      transform: scale(1.2); }

.post {
  width: 100%; }
  .post__comment-form {
    width: 100%;
    display: flex; }
    .post__comment-form--input {
      width: 54rem;
      margin-right: 2rem; }
    .post__comment-form--btn {
      float: right; }
  .post__comment-feed {
    border-radius: 5px; }
  .post__comment-item {
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.3);
    position: relative; }
    .post__comment-item--head {
      height: 5rem;
      display: flex;
      align-items: center; }
    .post__comment-item--img {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      border: none; }
    .post__comment-item--avatar {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
    .post__comment-item--info {
      margin-top: -2rem;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      height: 3rem; }
    .post__comment-item--name {
      color: #000a22; }
    .post__comment-item--handle {
      color: grey;
      font-size: 1.2rem; }
    .post__comment-item--text {
      padding-left: 6rem; }
    .post__comment-item--del {
      position: absolute;
      top: 2rem;
      right: 2rem;
      transition: transform 0.5s; }
      .post__comment-item--del:hover {
        transform: scale(1.2); }

.u-center-text {
  text-align: center; }

.u-margin-top-larger {
  margin-top: 8rem; }

.u-margin-top-large {
  margin-top: 4rem; }

.u-margin-top-medium {
  margin-top: 2rem; }

.u-margin-top-small {
  margin-top: 1rem; }

.u-margin-top-smaller {
  margin-top: 0.5rem; }

.u-margin-bottom-larger {
  margin-bottom: 8rem; }

.u-margin-bottom-large {
  margin-bottom: 4rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-smaller {
  margin-bottom: 0.5rem; }
