.main {
  height: 84vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.signup {
  height: 70vh;
  width: 50%;
  color: black;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 10px 1px grey;
  padding-left: 30px;
  margin-top: 50px;
}

.h2 {
  text-transform: uppercase;
  color: rgb(0, 10, 34);
}

.input {
  margin: 5px 5px 5px 0;
  width: 90%;
  height: 30px;
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 2px;
  padding-left: 4px;
}

.input:focus {
  box-shadow: 2px 2px 10px 1px grey;
  border: 1px solid white;
}

.btn {
  height: 40px;
  width: 150px;
  display: inline-block;
  margin: 20px 10px 40px 0px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--button-color);
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--deep-theme-color);
  transition: background-color 1s;
}

.btn:not(:hover) {
  background-color: var(--button-color);
  transition: background-color 1s;
}

.p {
  color: grey;
  font-size: 9px;
  font-weight: lighter;
  padding-left: 10px;
}

.link {
  font-style: italic;
  color: grey;
  margin-left: 10px;
}

.link:hover {
  color: black;
  transition: color 1s;
}

.link:not(:hover) {
  color: grey;
  transition: color 1s;
}
@media screen and (max-width: 800px) {
  .signup {
    min-height: 50vh;
    min-width: 60vw;
    color: black;
    margin: 7vh 0 7vh 0;
    border-radius: 5px;
    border: none;
    /* box-shadow: 2px 2px 10px 1px grey; */
    box-shadow: 0px 0px 0px 0px grey;
    padding-left: 30px;
  }
}
@media screen and (max-width: 450px) {
  .signup {
    height: 40%;
    width: 100vw;
    margin-top: 0;
    color: black;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 0;
    padding-left: 30px;
  }
}
